<div class="container">
<h1>WELCOME TO THE BEST AND POPULAR QUOTES</h1>
<hr>
<div class="row">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

      </div>
    <div class="col-md-6">
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li>{{quote.name}}  due on {{quote.completeDate|date|uppercase}}</li>
    <button (click)='toggleDetails(i)'class="btn btn-outline-primary">view more</button>
    <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
  </div>
</ul>
    </div>
    
