@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTCfpasLagF5aIXVv3HCwnWmqLhYFP5BTi8cw&usqp=CAU");
color:white;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Inconsolata', monospace;

}
#one{
    color: black;
}
#two{
    color: black;
}
b{
    color: blue;
}

